<div class="masthead masthead-home">
  <h1>
    GoReleaser
  </h1>
  <span>Deliver Go binaries as fast and easily as possible </span>
  <div class="masthead-buttons">
    <iframe class="btn-star" src="https://ghbtns.com/github-btn.html?user=goreleaser&repo=goreleaser&type=star&count=true&size=large" frameborder="0" scrolling="0"></iframe>

    <iframe class="btn-follow" src="https://ghbtns.com/github-btn.html?user=goreleaser&type=follow&count=false&size=large" frameborder="0" scrolling="0"></iframe>
  </div>
  <h5>
    <a class="button button-outline" href="https://github.com/goreleaser/goreleaser">Download - github</a>
  </h5>
</div>
